<a href="/album/all" class="backBtn">&#171; 返回专辑管理界面</a>

<form action="/album/new" method="post" id="albumForm" class="albumForm">
	<% if flash[:notice] %>
	<div class="tips"><%= flash[:notice] %></div>
	<% end %>

	<div class="inputRow">
		<label for="albumUrl" >专辑地址（目前仅支持虾米地址）</label>
		<input type="text" name="albumUrl" id="albumUrl" />
		<button type="submit" class="submitBtn" >提交</button>
	</div>

    <div><%= @title if !@title.nil? %></div>
    <div><%= @author if !@author.nil? %></div>
    <div><%= @company if !@company.nil? %></div>
    <% @track && @track.each do |item| %>
    <div><%= item %></div>
    <% end %>
</form>
