<div class="navBar">
    <ul class="sortNav">
        <li class="latest active"><a>最新</a></li>
        <li class="popular"><a>热门</a></li>
        <li class="recommend"><a>推荐</a></li>
    </ul>
    <span class="navBox"></span>
</div>
<ul class="albumList">
    <% @albums && @albums.each do |albums| %>
        <li class="albumItem" albumId="<%= album[:_id] %>">
            <span class="sleeve"></span>
            <a href="/albums/<%= album[:_id] %>" class="cover">
                <span class="shine"></span>
                <img src="/images/<% album.cover == '' ? 'cover_default.jpg' : 'cover/'+ album[:cover] %>" 
                    width="200px" 
                    height="200px" 
                />
            </a>

            <h2 class="title">
                <a href="/albums/<%= album[:_id] %>"><%= album[:title] %></a>
            </h2>

            <h3 class="artist"><%= album[:author] %></h3>

            <div class="albumMetadata">
                <span class="createdAt"><%= album[:create_at] %></span>
                <span class="favoriteNum"><%= album[:favorite_num] %></span>
            </div>
        </li>
    <% end %>
</ul>
